.center_on_screen{
    position: fixed; /* or absolute */
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .center_on_screen > img{
    align-items: center;
    margin: auto;
}

.center_on_screen > form{
    align-items: center;
    margin: auto;
}

.center_on_screen > div{
    align-items: center;
    margin: auto;
} */

.img_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.google_img_size{
    height: 120px;
}

#search_bar_id{
    width: 484px;
    height: 40px;
    border: 0.5px solid grey;
    border-style: groove;
    border-radius: 23px;
    border-width: 1px;
    
}

#google_lang_id{
    font-size: small;
}

.google_button{
    border: white;
    border-style: none;
    border-width: 1px;
    font-size: 16px;
    color: gray;
    background-color: white;
}

.google_button:hover{
    border: grey;
    border-style: solid;
    border-width: 1px;
    color: gray;
    font-size: 16px;
    background-color: white;
}

.form_inline{
    /* display: flex;
    flex-flow: row wrap; */
    align-items: center;
}